Waybar
kanshi
sway
wlroots
swaylock*
mako
wf-recorder
clipman
pipewire
wofi
xdg-desktop-portal-wlr
wdisplays
wayfire
wf-config
wf-shell
wcm
nwg-panel
seatd
.env
tmp
swayimg
rofi
libgwater
build
libvarlink
libscfg
sway-contrib
